language: python
# pick the appropriate requirements file
matrix:
  include:
    - python: "3.8"
      env: REQUIREMENTS=requirements.txt
    - python: "3.9"
      env: REQUIREMENTS=requirements.txt
branches:
  only:
  - master
  - development
# install system dependencies
before_install:
  - sudo apt-get update
  - sudo apt-get install -y build-essential muscle mafft cd-hit
# command to install dependencies
install:
  - pip install -r $REQUIREMENTS
# command to run tests
script:
  - pytest # or py.test for Python versions 3.5 and below
