include README.md
include requirements.txt
include docs/*.txt

include abstar/core/*
include abstar/assigners/*
include abstar/assigners/bin/*
include abstar/assigners/germline_dbs/*
include abstar/assigners/germline_dbs/human/*
include abstar/assigners/germline_dbs/human/blast/*
include abstar/assigners/germline_dbs/human/ungapped/*
include abstar/assigners/germline_dbs/human/imgt_gapped/*
include abstar/assigners/germline_dbs/human/isotypes/*
include abstar/utils/*
include abstar/utils/queue/*


include abstar/blast/blastn*
include abstar/blast/dbs/*
include abstar/nw/*
include abstar/ssw/*
include abstar/ssw/dbs/*
include abstar/ssw/isotypes/*
include abstar/utils/germline_data/*

