include README.md
include LICENSE
include requirements*
include docs/*.txt

include abstar/annotation/*
include abstar/assigners/*
include abstar/core/*
include abstar/preprocess/*
include abstar/scripts/*
include abstar/test_data/*
include abstar/tests/*
include abstar/utils/*

include abstar/germline_dbs/bcr/*
include abstar/germline_dbs/bcr/human/*
include abstar/germline_dbs/bcr/human/mmseqs/*
include abstar/germline_dbs/bcr/human/ungapped/*
include abstar/germline_dbs/bcr/human/imgt_gapped/*

include abstar/germline_dbs/bcr/macaque/*
include abstar/germline_dbs/bcr/macaque/mmseqs/*
include abstar/germline_dbs/bcr/macaque/ungapped/*
include abstar/germline_dbs/bcr/macaque/imgt_gapped/*

include abstar/germline_dbs/bcr/c57bl6/*
include abstar/germline_dbs/bcr/c57bl6/mmseqs/*
include abstar/germline_dbs/bcr/c57bl6/ungapped/*
include abstar/germline_dbs/bcr/c57bl6/imgt_gapped/*

include abstar/germline_dbs/bcr/balbc/*
include abstar/germline_dbs/bcr/balbc/mmseqs/*
include abstar/germline_dbs/bcr/balbc/ungapped/*
include abstar/germline_dbs/bcr/balbc/imgt_gapped/*

include abstar/germline_dbs/bcr/*
include abstar/germline_dbs/bcr/human+c57bl6/*
include abstar/germline_dbs/bcr/human+c57bl6/mmseqs/*
include abstar/germline_dbs/bcr/human+c57bl6/ungapped/*
include abstar/germline_dbs/bcr/human+c57bl6/imgt_gapped/*

include abstar/germline_dbs/tcr/*
include abstar/germline_dbs/tcr/human/*
include abstar/germline_dbs/tcr/human/mmseqs/*
include abstar/germline_dbs/tcr/human/ungapped/*
include abstar/germline_dbs/tcr/human/imgt_gapped/*
