sphinx
sphinx_rtd_theme
furo
pydata-sphinx-theme
sphinx-material
sphinxawesome-theme
sphinx_copybutton
sphinx_togglebutton
sphinx_design
autodocsumm
# pure python dependencies (compiled deps are mocked in conf.py)
biopython
click
natsort
numpy
pandas
polars
pyarrow
scipy
tqdm