sphinx
sphinx_rtd_theme
furo
pydata-sphinx-theme
sphinx-material
sphinxawesome-theme
sphinx_copybutton
sphinx_togglebutton
sphinx_design
autodocsumm
# dependencies
abutils
biopython
celery
click
natsort
numpy
pandas
parasail
polars
pyarrow
pytest
scipy
tqdm